version: 2
jobs:
  build:
    docker:
    - image: eclipse-temurin:21-alpine

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - restore_cache:
          keys:
           - v1-dependencies-{{ checksum "build.gradle" }}
           - v1-dependencies-

      - run: ./gradlew clean build test -i && ./gradlew -i

      - save_cache:
          paths:
           - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}
