install: true
language: java

jdk:
- oraclejdk11

script:
- wget https://services.gradle.org/distributions/gradle-5.4.1-bin.zip -P /tmp
- sudo unzip -d /opt/gradle /tmp/gradle-5.4.1-bin.zip
- export GRADLE_HOME=/opt/gradle/gradle-5.4.1
- export PATH=${GRADLE_HOME}/bin:${PATH}
- gradle -v
- gradle clean install test --warning-mode all --stacktrace