name: SAARP Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build and Test API
      run: cd string-paradigm-api && gradle clean build &&gradle assemble test publishToMavenLocal

    - name: Build and Expression API
      run: cd string-paradigm-expression-api && gradle clean build &&gradle assemble test publishToMavenLocal

    - name: Build and Expression No Wrapper API
      run: cd string-paradigm-expression-no-wrapper && gradle clean build &&gradle assemble test publishToMavenLocal

    - name: Build Complete
      run: gradle clean build test publishToMavenLocal && gradle dependencies
